
.menu1 {
  background-color: black;
  display: inline-block;
}

.menu1 ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu1 li {
  margin-right: 20px;
}

.menu1 a {
  color: white;
  text-decoration: none;
  font-size: 12px
}

.menu2 {
  display: inline-block;
}

.menu2 > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu2 li {
  background: linear-gradient(to right, grey, orange);
  width: 70px;
  
  display: inline-block;
    padding: 0 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  margin-right: 2px;
  border-bottom: 1px solid black;

  position: relative;
}

.menu2 a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 12px
}

.sous-menu2 {
  display: none;
  list-style: none;
  position: absolute;
  padding: 0;
  top: 105%;
  left: 0;
}

.sous-menu2 li {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: linear-gradient(to right, white, orange)
}

.last-sous-menu2 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.parent:hover .sous-menu2 {
  display: flex;

  flex-direction: column;
}

.sous-menu2 a:hover {
  background-color: orange;
  transition: opacity 0.5s ease;
}
